Mercury.Clients/Mercury.Clients.Silverlight/Mercury.Silverlight.Client/Service References/Server.Enterprise/Security7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Security.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:complexType name="SecurityAuthority">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AgentPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssociateContext" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConfigurationSection" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemberContext" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Protocol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderAssemblyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderAssemblyPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderClassName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderContext" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderNamespace" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Security.Enumerations" minOccurs="0" name="SecurityAuthorityType" type="q2:SecurityAuthorityType" />
          <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityAuthority" nillable="true" type="tns:SecurityAuthority" />
</xs:schema>