Mercury.Clients/Mercury.Clients.Silverlight/Mercury.Silverlight.Client/Service References/Server.Application/Application67.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Services.Responses.SearchResults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Services.Responses.SearchResults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd57" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Search" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd50" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Services.Responses" />
  <xs:complexType name="SearchResultsGlobalResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Services.Responses" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Search" minOccurs="0" name="Collection" nillable="true" type="q2:ArrayOfSearchResultGlobal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchResultsGlobalResponse" nillable="true" type="tns:SearchResultsGlobalResponse" />
  <xs:complexType name="SearchResultsMemberResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Mercury.Server.Services.Responses" base="q3:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Search" minOccurs="0" name="Results" nillable="true" type="q4:ArrayOfSearchResultMember" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchResultsMemberResponse" nillable="true" type="tns:SearchResultsMemberResponse" />
  <xs:complexType name="SearchResultsProviderResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Mercury.Server.Services.Responses" base="q5:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Search" minOccurs="0" name="Results" nillable="true" type="q6:ArrayOfSearchResultProvider" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchResultsProviderResponse" nillable="true" type="tns:SearchResultsProviderResponse" />
</xs:schema>