Mercury.Clients/Mercury.Clients.Silverlight/Mercury.Silverlight.Client/Service References/Server.Application/Application65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Printing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Printing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd55" namespace="http://schemas.datacontract.org/2004/07/System.Printing" />
  <xs:complexType name="ArrayOfPrinter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Printer" nillable="true" type="tns:Printer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrinter" nillable="true" type="tns:ArrayOfPrinter" />
  <xs:complexType name="Printer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreConfigurationObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="PrintQueueName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrintServerName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Printer" nillable="true" type="tns:Printer" />
  <xs:complexType name="PrinterCapabilities">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ColorOptions" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Printing" minOccurs="0" name="Duplexing" nillable="true" type="q3:ArrayOfDuplexing" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InputBins" nillable="true" type="q4:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OutputBins" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PageResolutions" nillable="true" type="q6:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrinterCapabilities" nillable="true" type="tns:PrinterCapabilities" />
</xs:schema>