Mercury.Clients/Mercury.Clients.Silverlight/Mercury.Silverlight.Client/Service References/Server.Application/Application27.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Public.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Public.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd46" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Public.WebService.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd47" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd48" namespace="http://schemas.datacontract.org/2004/07/System.Net.Security" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd49" namespace="http://schemas.datacontract.org/2004/07/System.Security.Principal" />
  <xs:complexType name="WebServiceHostConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="BindingConfiguration" nillable="true" type="tns:WebServiceHostBindingConfiguration" />
      <xs:element minOccurs="0" name="ClientCredentials" nillable="true" type="tns:WebServiceHostClientCredentials" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServiceHostConfiguration" nillable="true" type="tns:WebServiceHostConfiguration" />
  <xs:complexType name="WebServiceHostBindingConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="BindingName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Public.WebService.Enumerations" minOccurs="0" name="BindingType" type="q1:WebServiceBindingType" />
      <xs:element minOccurs="0" name="BufferPoolSizeMaximum" type="xs:int" />
      <xs:element minOccurs="0" name="BufferSizeMaximum" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel" minOccurs="0" name="MessageCredentialType" type="q2:MessageCredentialType" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net.Security" minOccurs="0" name="ProtectionLevel" type="q3:ProtectionLevel" />
      <xs:element minOccurs="0" name="Protocol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReaderQuotasArrayLengthMaximum" type="xs:int" />
      <xs:element minOccurs="0" name="ReaderQuotasBytesPerReadMaximum" type="xs:int" />
      <xs:element minOccurs="0" name="ReaderQuotasDepthMaximum" type="xs:int" />
      <xs:element minOccurs="0" name="ReaderQuotasNameTableCharCountMaximum" type="xs:int" />
      <xs:element minOccurs="0" name="ReaderQuotasStringContentLengthMaximum" type="xs:int" />
      <xs:element minOccurs="0" name="ReceivedMessageSizeMaximum" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.ServiceModel" minOccurs="0" name="SecurityMode" type="q4:BasicHttpSecurityMode" />
      <xs:element minOccurs="0" name="TimeoutClose" type="ser:duration" />
      <xs:element minOccurs="0" name="TimeoutOpen" type="ser:duration" />
      <xs:element minOccurs="0" name="TimeoutReceive" type="ser:duration" />
      <xs:element minOccurs="0" name="TimeoutSend" type="ser:duration" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.ServiceModel" minOccurs="0" name="TransportCredentialType" type="q5:HttpClientCredentialType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServiceHostBindingConfiguration" nillable="true" type="tns:WebServiceHostBindingConfiguration" />
  <xs:complexType name="WebServiceHostClientCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Security.Principal" minOccurs="0" name="WindowsImpersonationLevel" type="q6:TokenImpersonationLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServiceHostClientCredentials" nillable="true" type="tns:WebServiceHostClientCredentials" />
</xs:schema>