Mercury.Clients/Mercury.Clients.Silverlight/Mercury.Silverlight.Client/Service References/Server.Application/Application69.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Workflows" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Workflows" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd59" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Workflows.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfWorkflowStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkflowStep" nillable="true" type="tns:WorkflowStep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkflowStep" nillable="true" type="tns:ArrayOfWorkflowStep" />
  <xs:complexType name="WorkflowStep">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="StepDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StepSequence" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Workflows.Enumerations" minOccurs="0" name="StepStatus" type="q2:WorkflowStepStatus" />
          <xs:element minOccurs="0" name="UserDisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkQueueItemId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkflowStep" nillable="true" type="tns:WorkflowStep" />
  <xs:complexType name="WorkflowStartRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Arguments" nillable="true" type="q3:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="WorkQueueItemId" type="xs:long" />
      <xs:element minOccurs="0" name="WorkflowId" type="xs:long" />
      <xs:element minOccurs="0" name="WorkflowInstanceId" type="ser:guid" />
      <xs:element minOccurs="0" name="WorkflowName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkflowStartRequest" nillable="true" type="tns:WorkflowStartRequest" />
  <xs:simpleType name="WorkflowStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Started" />
      <xs:enumeration value="Aborted" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Created" />
      <xs:enumeration value="Idled" />
      <xs:enumeration value="Loaded" />
      <xs:enumeration value="Persisted" />
      <xs:enumeration value="Resumed" />
      <xs:enumeration value="Suspended" />
      <xs:enumeration value="Terminated" />
      <xs:enumeration value="Unloaded" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkflowStatus" nillable="true" type="tns:WorkflowStatus" />
</xs:schema>