Mercury.Clients/Mercury.Clients.Silverlight/Mercury.Silverlight.Client/Service References/Server.Application/Application13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Work.DataViews" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Work.DataViews" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:complexType name="ArrayOfWorkQueueSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkQueueSummary" nillable="true" type="tns:WorkQueueSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkQueueSummary" nillable="true" type="tns:ArrayOfWorkQueueSummary" />
  <xs:complexType name="WorkQueueSummary">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AvailableItemsCount" type="xs:int" />
          <xs:element minOccurs="0" name="CompletedItemsCount" type="xs:int" />
          <xs:element minOccurs="0" name="FirstWorkedTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastWorkedTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OverdueItemsCount" type="xs:int" />
          <xs:element minOccurs="0" name="TotalItemsCount" type="xs:int" />
          <xs:element minOccurs="0" name="UsersInQueueCount" type="xs:int" />
          <xs:element minOccurs="0" name="WarningItemsCount" type="xs:int" />
          <xs:element minOccurs="0" name="WorkedItemsCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkQueueSummary" nillable="true" type="tns:WorkQueueSummary" />
</xs:schema>