Mercury.Clients/Mercury.Clients.Silverlight/Mercury.Silverlight.Client/Service References/Server.Application/Application14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Workflows.UserInteractions.Structures" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Workflows.UserInteractions.Structures" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWorkflowUserInteractionRequestPromptSelectionItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkflowUserInteractionRequestPromptSelectionItem" nillable="true" type="tns:WorkflowUserInteractionRequestPromptSelectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkflowUserInteractionRequestPromptSelectionItem" nillable="true" type="tns:ArrayOfWorkflowUserInteractionRequestPromptSelectionItem" />
  <xs:complexType name="WorkflowUserInteractionRequestPromptSelectionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkflowUserInteractionRequestPromptSelectionItem" nillable="true" type="tns:WorkflowUserInteractionRequestPromptSelectionItem" />
</xs:schema>