Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application45.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Audit" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Audit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAuditAuthentication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditAuthentication" nillable="true" type="tns:AuditAuthentication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditAuthentication" nillable="true" type="tns:ArrayOfAuditAuthentication" />
  <xs:complexType name="AuditAuthentication">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationTime" type="xs:int" />
      <xs:element minOccurs="0" name="EnvironmentId" type="xs:long" />
      <xs:element minOccurs="0" name="LastActivityTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogoffDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogonDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SecurityAuthorityId" type="xs:long" />
      <xs:element minOccurs="0" name="SessionToken" type="ser:guid" />
      <xs:element minOccurs="0" name="UserAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserDisplayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditAuthentication" nillable="true" type="tns:AuditAuthentication" />
</xs:schema>