Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Public.Interfaces.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Public.Interfaces.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSecurityAuthorityDirectoryEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityAuthorityDirectoryEntry" nillable="true" type="tns:SecurityAuthorityDirectoryEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityAuthorityDirectoryEntry" nillable="true" type="tns:ArrayOfSecurityAuthorityDirectoryEntry" />
  <xs:complexType name="SecurityAuthorityDirectoryEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistinguishedName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectSid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityAuthorityDirectoryEntry" nillable="true" type="tns:SecurityAuthorityDirectoryEntry" />
  <xs:complexType name="ArrayOfSecurityGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityGroup" nillable="true" type="tns:SecurityGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityGroup" nillable="true" type="tns:ArrayOfSecurityGroup" />
  <xs:complexType name="SecurityGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityAuthorityId" type="xs:long" />
      <xs:element minOccurs="0" name="SecurityAuthorityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityGroupId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityGroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityGroup" nillable="true" type="tns:SecurityGroup" />
</xs:schema>