Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application452.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Services.Responses.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Services.Responses.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Services.Responses" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfImportExportResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportExportResult" nillable="true" type="tns:ImportExportResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportExportResult" nillable="true" type="tns:ArrayOfImportExportResult" />
  <xs:complexType name="ImportExportResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Services.Responses" minOccurs="0" name="Exception" nillable="true" type="q1:ServiceException" />
      <xs:element minOccurs="0" name="HasException" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InstanceId" type="ser:guid" />
      <xs:element minOccurs="0" name="ObjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportExportResult" nillable="true" type="tns:ImportExportResult" />
</xs:schema>