Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application154.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Insurer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Insurer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Entity" />
  <xs:complexType name="BenefitPlan">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreConfigurationObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ProgramId" type="xs:long" />
          <xs:element minOccurs="0" name="TerminationDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BenefitPlan" nillable="true" type="tns:BenefitPlan" />
  <xs:complexType name="InsuranceType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q2:CoreObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsuranceType" nillable="true" type="tns:InsuranceType" />
  <xs:complexType name="Program">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q3:CoreConfigurationObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BankAccountId" type="xs:long" />
          <xs:element minOccurs="0" name="InsuranceTypeId" type="xs:long" />
          <xs:element minOccurs="0" name="InsurerId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Program" nillable="true" type="tns:Program" />
  <xs:complexType name="Contract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q4:CoreConfigurationObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TerminationDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Contract" nillable="true" type="tns:Contract" />
  <xs:complexType name="ArrayOfProgram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Program" nillable="true" type="tns:Program" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgram" nillable="true" type="tns:ArrayOfProgram" />
  <xs:complexType name="ArrayOfBenefitPlan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenefitPlan" nillable="true" type="tns:BenefitPlan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBenefitPlan" nillable="true" type="tns:ArrayOfBenefitPlan" />
  <xs:complexType name="ArrayOfContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract" nillable="true" type="tns:Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract" nillable="true" type="tns:ArrayOfContract" />
  <xs:complexType name="ArrayOfCoverageLevel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoverageLevel" nillable="true" type="tns:CoverageLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoverageLevel" nillable="true" type="tns:ArrayOfCoverageLevel" />
  <xs:complexType name="CoverageLevel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q5:CoreObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CoverageLevel" nillable="true" type="tns:CoverageLevel" />
  <xs:complexType name="ArrayOfCoverageType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoverageType" nillable="true" type="tns:CoverageType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoverageType" nillable="true" type="tns:ArrayOfCoverageType" />
  <xs:complexType name="CoverageType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q6:CoreObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CoverageType" nillable="true" type="tns:CoverageType" />
  <xs:complexType name="ArrayOfInsuranceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuranceType" nillable="true" type="tns:InsuranceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsuranceType" nillable="true" type="tns:ArrayOfInsuranceType" />
  <xs:complexType name="ArrayOfInsurer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Insurer" nillable="true" type="tns:Insurer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsurer" nillable="true" type="tns:ArrayOfInsurer" />
  <xs:complexType name="Insurer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q7:CoreObject">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Entity" minOccurs="0" name="Entity" nillable="true" type="q8:Entity" />
          <xs:element minOccurs="0" name="EntityId" type="xs:long" />
          <xs:element minOccurs="0" name="NationalPlanId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Insurer" nillable="true" type="tns:Insurer" />
</xs:schema>