Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Individual.Case.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Individual.Case.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Individual.Enumerations" />
  <xs:complexType name="MemberCaseCarePlanSummary">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreExtensibleObject_x0020_">
        <xs:sequence>
          <xs:element minOccurs="0" name="CarePlanId" type="xs:long" />
          <xs:element minOccurs="0" name="CarePlanName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MemberCarePlanId" type="xs:long" />
          <xs:element minOccurs="0" name="MemberCaseId" type="xs:long" />
          <xs:element minOccurs="0" name="NextInterventionName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NextObjectiveName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProblemStatementId" type="xs:long" />
          <xs:element minOccurs="0" name="ProblemStatementText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderId" type="xs:long" />
          <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TerminationDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MemberCaseCarePlanSummary" nillable="true" type="tns:MemberCaseCarePlanSummary" />
  <xs:complexType name="ArrayOfMemberCaseCarePlanSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberCaseCarePlanSummary" nillable="true" type="tns:MemberCaseCarePlanSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberCaseCarePlanSummary" nillable="true" type="tns:ArrayOfMemberCaseCarePlanSummary" />
  <xs:complexType name="ArrayOfMemberCaseSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberCaseSummary" nillable="true" type="tns:MemberCaseSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberCaseSummary" nillable="true" type="tns:ArrayOfMemberCaseSummary" />
  <xs:complexType name="MemberCaseSummary">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q2:CoreExtensibleObject_x0020_">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssignedToDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AssignedToSecurityAuthorityId" type="xs:long" />
          <xs:element minOccurs="0" name="AssignedToUserAccountId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssignedToUserAccountName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssignedToUserDisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssignedToWorkTeamDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AssignedToWorkTeamId" type="xs:long" />
          <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LockedByDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LockedBySecurityAuthorityId" type="xs:long" />
          <xs:element minOccurs="0" name="LockedByUserAccountId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LockedByUserAccountName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LockedByUserDisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemberId" type="xs:long" />
          <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Individual.Enumerations" minOccurs="0" name="Status" type="q3:CaseItemStatus" />
          <xs:element minOccurs="0" name="TerminationDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MemberCaseSummary" nillable="true" type="tns:MemberCaseSummary" />
  <xs:complexType name="ArrayOfMemberCaseLoadSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberCaseLoadSummary" nillable="true" type="tns:MemberCaseLoadSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberCaseLoadSummary" nillable="true" type="tns:ArrayOfMemberCaseLoadSummary" />
  <xs:complexType name="MemberCaseLoadSummary">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q4:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssignedToUserDisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssignedToWorkTeamId" type="xs:long" />
          <xs:element minOccurs="0" name="AssignedToWorkTeamName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusActiveCount" type="xs:int" />
          <xs:element minOccurs="0" name="StatusClosedCount" type="xs:int" />
          <xs:element minOccurs="0" name="StatusUnderDevelopmentCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MemberCaseLoadSummary" nillable="true" type="tns:MemberCaseLoadSummary" />
</xs:schema>