Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Metrics" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Metrics" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd38" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Metrics.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd15" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:complexType name="Metric">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreConfigurationObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Metrics.Enumerations" minOccurs="0" name="CostClaimDateType" type="q2:MetricCostClaimDateType" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Metrics.Enumerations" minOccurs="0" name="CostDataSource" type="q3:MetricCostDataSource" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Metrics.Enumerations" minOccurs="0" name="CostReportingPeriod" type="q4:MetricCostReportingPeriod" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" minOccurs="0" name="CostReportingPeriodQualifier" type="q5:DateQualifier" />
          <xs:element minOccurs="0" name="CostReportingPeriodValue" type="xs:int" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CostServices" nillable="true" type="q6:ArrayOfKeyValueOflongstring" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Metrics.Enumerations" minOccurs="0" name="CostWatermarkPeriod" type="q7:MetricCostWatermarkPeriod" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" minOccurs="0" name="CostWatermarkPeriodQualifier" type="q8:DateQualifier" />
          <xs:element minOccurs="0" name="CostWatermarkPeriodValue" type="xs:int" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Metrics.Enumerations" minOccurs="0" name="DataType" type="q9:MetricDataType" />
          <xs:element minOccurs="0" name="MaximumValue" type="xs:decimal" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Metrics.Enumerations" minOccurs="0" name="MetricType" type="q10:MetricType" />
          <xs:element minOccurs="0" name="MinimumValue" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Metric" nillable="true" type="tns:Metric" />
  <xs:complexType name="MemberMetric">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q11:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddedManually" type="xs:boolean" />
          <xs:element minOccurs="0" name="EventDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MemberId" type="xs:long" />
          <xs:element minOccurs="0" name="Metric" nillable="true" type="tns:Metric" />
          <xs:element minOccurs="0" name="MetricId" type="xs:long" />
          <xs:element minOccurs="0" name="MetricValue" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MemberMetric" nillable="true" type="tns:MemberMetric" />
  <xs:complexType name="ArrayOfMetric">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Metric" nillable="true" type="tns:Metric" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetric" nillable="true" type="tns:ArrayOfMetric" />
  <xs:complexType name="ArrayOfMemberMetric">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberMetric" nillable="true" type="tns:MemberMetric" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberMetric" nillable="true" type="tns:ArrayOfMemberMetric" />
</xs:schema>