Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application161.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Activity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Activity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd27" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Action" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd58" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Activity.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:complexType name="Activity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Action" minOccurs="0" name="Action" nillable="true" type="q2:Action" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Activity.Enumerations" minOccurs="0" name="ActivityType" type="q3:ActivityType" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Activity.Enumerations" minOccurs="0" name="AnchorDate" type="q4:ActivityAnchorDate" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" minOccurs="0" name="ConstraintQualifier" type="q5:DateQualifier" />
          <xs:element minOccurs="0" name="ConstraintValue" type="xs:int" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Activity.Enumerations" minOccurs="0" name="InitialAnchorDate" type="q6:ActivityAnchorDate" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Activity.Enumerations" minOccurs="0" name="PerformActionDate" type="q7:ActivityPerformActionDate" />
          <xs:element minOccurs="0" name="Reoccurring" type="xs:boolean" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" minOccurs="0" name="ScheduleQualifier" type="q8:DateQualifier" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Activity.Enumerations" minOccurs="0" name="ScheduleType" type="q9:ActivityScheduleType" />
          <xs:element minOccurs="0" name="ScheduleValue" type="xs:int" />
          <xs:element minOccurs="0" name="Thresholds" nillable="true" type="tns:ArrayOfActivityThreshold" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Activity" nillable="true" type="tns:Activity" />
  <xs:complexType name="ActivityThreshold">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q10:CoreObject">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Action" minOccurs="0" name="Action" nillable="true" type="q11:Action" />
          <xs:element minOccurs="0" name="ActivityId" type="xs:long" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" minOccurs="0" name="RelativeDateQualifier" type="q12:DateQualifier" />
          <xs:element minOccurs="0" name="RelativeDateValue" type="xs:int" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Activity.Enumerations" minOccurs="0" name="Status" type="q13:ActivityStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityThreshold" nillable="true" type="tns:ActivityThreshold" />
  <xs:complexType name="ArrayOfActivityThreshold">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityThreshold" nillable="true" type="tns:ActivityThreshold" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivityThreshold" nillable="true" type="tns:ArrayOfActivityThreshold" />
</xs:schema>