Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Reference.Views" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Reference.Views" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCityStateZipCodeView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityStateZipCodeView" nillable="true" type="tns:CityStateZipCodeView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityStateZipCodeView" nillable="true" type="tns:ArrayOfCityStateZipCodeView" />
  <xs:complexType name="CityStateZipCodeView">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipPlus4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityStateZipCodeView" nillable="true" type="tns:CityStateZipCodeView" />
</xs:schema>