Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Claims" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Claims" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd71" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Claims.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:complexType name="ArrayOfClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Claim" nillable="true" type="tns:Claim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaim" nillable="true" type="tns:ArrayOfClaim" />
  <xs:complexType name="Claim">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdmissionDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="BillType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BilledAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ClaimFromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClaimThruDate" type="xs:dateTime" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Claims.Enumerations" minOccurs="0" name="ClaimType" type="q2:ClaimType" />
          <xs:element minOccurs="0" name="DenialReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemberId" type="xs:long" />
          <xs:element minOccurs="0" name="PaidAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="PaidDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PayToProviderAffiliationId" type="xs:long" />
          <xs:element minOccurs="0" name="PayToProviderId" type="xs:long" />
          <xs:element minOccurs="0" name="PrincipalDiagnosisCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrincipalDiagnosisDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrincipalDiagnosisVersion" type="xs:int" />
          <xs:element minOccurs="0" name="ServiceProviderId" type="xs:long" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Claims.Enumerations" minOccurs="0" name="Status" type="q3:ClaimStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Claim" nillable="true" type="tns:Claim" />
  <xs:complexType name="ArrayOfClaimLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimLine" nillable="true" type="tns:ClaimLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimLine" nillable="true" type="tns:ArrayOfClaimLine" />
  <xs:complexType name="ClaimLine">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q4:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BilledAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ClaimId" type="xs:long" />
          <xs:element minOccurs="0" name="DenialReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEmergency" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsEpsdt" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsFamilyPlanning" type="xs:boolean" />
          <xs:element minOccurs="0" name="Line" type="xs:int" />
          <xs:element minOccurs="0" name="ModifierCode1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifierCode2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifierCode3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifierCode4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaidAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ProcedureCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProcedureCodeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevenueCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevenueCodeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceDateFrom" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ServiceDateThru" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ServicePlace" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Claims.Enumerations" minOccurs="0" name="Status" type="q5:ClaimStatus" />
          <xs:element minOccurs="0" name="Units" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClaimLine" nillable="true" type="tns:ClaimLine" />
  <xs:complexType name="ArrayOfPharmacyClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PharmacyClaim" nillable="true" type="tns:PharmacyClaim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPharmacyClaim" nillable="true" type="tns:ArrayOfPharmacyClaim" />
  <xs:complexType name="PharmacyClaim">
    <xs:sequence>
      <xs:element minOccurs="0" name="BilledAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ClaimDateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClaimDateThru" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClaimId" type="xs:long" />
      <xs:element minOccurs="0" name="ClaimType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DaysSupply" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeaClassification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrugName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalClaimId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalMemberId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberId" type="xs:long" />
      <xs:element minOccurs="0" name="NdcCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaidAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaidDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PharmacyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrescribedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Refills" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceProviderSpecialtyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TherapeuticClassification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Units" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PharmacyClaim" nillable="true" type="tns:PharmacyClaim" />
  <xs:complexType name="ArrayOfLabResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LabResult" nillable="true" type="tns:LabResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLabResult" nillable="true" type="tns:ArrayOfLabResult" />
  <xs:complexType name="LabResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q6:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClaimId" type="xs:long" />
          <xs:element minOccurs="0" name="LabReferenceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LabResultText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LabTestName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LabUnitType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LabValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="Loinc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemberId" type="xs:long" />
          <xs:element minOccurs="0" name="ProviderId" type="xs:long" />
          <xs:element minOccurs="0" name="ServiceDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LabResult" nillable="true" type="tns:LabResult" />
</xs:schema>