Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Public.Faxing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Public.Faxing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaxServerConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaxQueueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonitorInterval" type="xs:int" />
      <xs:element minOccurs="0" name="MonitorTimeout" type="xs:int" />
      <xs:element minOccurs="0" name="SenderEmailAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaxServerConfiguration" nillable="true" type="tns:FaxServerConfiguration" />
</xs:schema>