Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Application/Application18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer.Evaluations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer.Evaluations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd33" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer.Evaluations.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd30" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Core/Application.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" />
  <xs:complexType name="DataExplorerNodeEvaluationPopulationMembership">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer" base="q1:DataExplorerNodeEvaluation_x0020_">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateCriteria" nillable="true" type="tns:DataExplorerNodeEvaluationDate" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer.Evaluations.Enumerations" minOccurs="0" name="PopulationEvaluationType" type="q2:DataExplorerNodeEvaluationPopulationEvaluationType" />
          <xs:element minOccurs="0" name="PopulationId" type="xs:long" />
          <xs:element minOccurs="0" name="PopulationTypeId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataExplorerNodeEvaluationPopulationMembership" nillable="true" type="tns:DataExplorerNodeEvaluationPopulationMembership" />
  <xs:complexType name="DataExplorerNodeEvaluationDate">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer.Enumerations" minOccurs="0" name="DateType" type="q3:DataExplorerEvaluationDateType" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" minOccurs="0" name="EndDateRelativeQualifier" type="q4:DateQualifier" />
      <xs:element minOccurs="0" name="EndDateRelativeValue" type="xs:int" />
      <xs:element minOccurs="0" name="EndDateVariableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" minOccurs="0" name="StartDateRelativeQualifier" type="q5:DateQualifier" />
      <xs:element minOccurs="0" name="StartDateRelativeValue" type="xs:int" />
      <xs:element minOccurs="0" name="StartDateVariableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataExplorerNodeEvaluationDate" nillable="true" type="tns:DataExplorerNodeEvaluationDate" />
  <xs:complexType name="DataExplorerNodeEvaluationMemberService">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer" base="q6:DataExplorerNodeEvaluation_x0020_">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgeCriteria" nillable="true" type="tns:DataExplorerNodeEvaluationAge" />
          <xs:element minOccurs="0" name="CountOf" type="xs:int" />
          <xs:element minOccurs="0" name="DateCriteria" nillable="true" type="tns:DataExplorerNodeEvaluationDate" />
          <xs:element minOccurs="0" name="ServiceId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataExplorerNodeEvaluationMemberService" nillable="true" type="tns:DataExplorerNodeEvaluationMemberService" />
  <xs:complexType name="DataExplorerNodeEvaluationAge">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeMaximum" type="xs:int" />
      <xs:element minOccurs="0" name="AgeMinimum" type="xs:int" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" minOccurs="0" name="AgeQualifier" type="q7:DateQualifier" />
      <xs:element minOccurs="0" name="UseAgeCriteria" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataExplorerNodeEvaluationAge" nillable="true" type="tns:DataExplorerNodeEvaluationAge" />
  <xs:complexType name="DataExplorerNodeEvaluationMemberDemographic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer" base="q8:DataExplorerNodeEvaluation_x0020_">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgeCriteria" nillable="true" type="tns:DataExplorerNodeEvaluationAge" />
          <xs:element minOccurs="0" name="DateCriteria" nillable="true" type="tns:DataExplorerNodeEvaluationDate" />
          <xs:element minOccurs="0" name="EthnicityId" type="xs:long" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" minOccurs="0" name="Gender" type="q9:Gender" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataExplorerNodeEvaluationMemberDemographic" nillable="true" type="tns:DataExplorerNodeEvaluationMemberDemographic" />
  <xs:complexType name="DataExplorerNodeEvaluationMemberEnrollment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer" base="q10:DataExplorerNodeEvaluation_x0020_">
        <xs:sequence>
          <xs:element minOccurs="0" name="BenefitPlanId" type="xs:long" />
          <xs:element minOccurs="0" name="ContinuousAllowedGapDays" type="xs:int" />
          <xs:element minOccurs="0" name="ContinuousAllowedGaps" type="xs:int" />
          <xs:element minOccurs="0" name="ContinuousEnrollment" type="xs:boolean" />
          <xs:element minOccurs="0" name="DateCriteria" nillable="true" type="tns:DataExplorerNodeEvaluationDate" />
          <xs:element minOccurs="0" name="InsurerId" type="xs:long" />
          <xs:element minOccurs="0" name="ProgramId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataExplorerNodeEvaluationMemberEnrollment" nillable="true" type="tns:DataExplorerNodeEvaluationMemberEnrollment" />
  <xs:complexType name="DataExplorerNodeEvaluationMemberEnrollmentContinuousFromBirthDate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer" base="q11:DataExplorerNodeEvaluation_x0020_">
        <xs:sequence>
          <xs:element minOccurs="0" name="BenefitPlanId" type="xs:long" />
          <xs:element minOccurs="0" name="ContinuousAllowedGapDays" type="xs:int" />
          <xs:element minOccurs="0" name="ContinuousAllowedGaps" type="xs:int" />
          <xs:element minOccurs="0" name="ContinuousUntilAge" type="xs:int" />
          <xs:element minOccurs="0" name="InsurerId" type="xs:long" />
          <xs:element minOccurs="0" name="ProgramId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataExplorerNodeEvaluationMemberEnrollmentContinuousFromBirthDate" nillable="true" type="tns:DataExplorerNodeEvaluationMemberEnrollmentContinuousFromBirthDate" />
  <xs:complexType name="DataExplorerNodeEvaluationMemberMetric">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.DataExplorer" base="q12:DataExplorerNodeEvaluation_x0020_">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgeCriteria" nillable="true" type="tns:DataExplorerNodeEvaluationAge" />
          <xs:element minOccurs="0" name="CountOf" type="xs:int" />
          <xs:element minOccurs="0" name="DateCriteria" nillable="true" type="tns:DataExplorerNodeEvaluationDate" />
          <xs:element minOccurs="0" name="MetricId" type="xs:long" />
          <xs:element minOccurs="0" name="ValueMaximum" type="xs:decimal" />
          <xs:element minOccurs="0" name="ValueMinimum" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataExplorerNodeEvaluationMemberMetric" nillable="true" type="tns:DataExplorerNodeEvaluationMemberMetric" />
</xs:schema>