Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Enterprise/Security330.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthorityAccountStamp">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SecurityAuthorityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAccountName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorityAccountStamp" nillable="true" type="tns:AuthorityAccountStamp" />
  <xs:complexType name="SqlConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomAttributes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoolSizeMaximum" type="xs:int" />
      <xs:element minOccurs="0" name="PoolSizeMinimum" type="xs:int" />
      <xs:element minOccurs="0" name="PoolingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SqlUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SqlUserPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseTrustedConnection" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlConfiguration" nillable="true" type="tns:SqlConfiguration" />
</xs:schema>