Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Enterprise/Security312.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationEvents" />
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd37" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationCriteria" />
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd29" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.Enumerations" />
  <xs:complexType name="PopulationMembership">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnchorDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdentifyingEventDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdentifyingEventMemberServiceId" type="xs:long" />
          <xs:element minOccurs="0" name="IdentifyingEventServiceId" type="xs:long" />
          <xs:element minOccurs="0" name="MemberId" type="xs:long" />
          <xs:element minOccurs="0" name="PopulationId" type="xs:long" />
          <xs:element minOccurs="0" name="TerminatingEventDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TerminatingEventMemberServiceId" type="xs:long" />
          <xs:element minOccurs="0" name="TerminatingEventServiceId" type="xs:long" />
          <xs:element minOccurs="0" name="TerminationDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PopulationMembership" nillable="true" type="tns:PopulationMembership" />
  <xs:complexType name="PopulationType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q2:CoreConfigurationObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PopulationType" nillable="true" type="tns:PopulationType" />
  <xs:complexType name="Population">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q3:CoreConfigurationObject">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationEvents" minOccurs="0" name="ActivityEvents" nillable="true" type="q4:ArrayOfPopulationActivityEvent" />
          <xs:element minOccurs="0" name="AllowProspective" type="xs:boolean" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationCriteria" minOccurs="0" name="DemographicCriteria" nillable="true" type="q5:ArrayOfPopulationCriteriaDemographic" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationCriteria" minOccurs="0" name="EnrollmentCriteria" nillable="true" type="q6:ArrayOfPopulationCriteriaEnrollment" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationCriteria" minOccurs="0" name="EventCriteria" nillable="true" type="q7:ArrayOfPopulationCriteriaEvent" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Events" nillable="true" type="q8:ArrayOfKeyValueOfstringActionh0OH4eih" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationCriteria" minOccurs="0" name="GeographicCriteria" nillable="true" type="q9:ArrayOfPopulationCriteriaGeographic" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.Enumerations" minOccurs="0" name="InitialAnchorDate" type="q10:PopulationInitialAnchorDate" />
          <xs:element minOccurs="0" name="PopulationTypeId" type="xs:long" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationEvents" minOccurs="0" name="ServiceEvents" nillable="true" type="q11:ArrayOfPopulationServiceEvent" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationEvents" minOccurs="0" name="TriggerEvents" nillable="true" type="q12:ArrayOfPopulationTriggerEvent" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Population" nillable="true" type="tns:Population" />
</xs:schema>