Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Enterprise/Security320.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationCriteria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.PopulationCriteria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" />
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd29" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.Enumerations" />
  <xs:complexType name="ArrayOfPopulationCriteriaDemographic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PopulationCriteriaDemographic" nillable="true" type="tns:PopulationCriteriaDemographic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPopulationCriteriaDemographic" nillable="true" type="tns:ArrayOfPopulationCriteriaDemographic" />
  <xs:complexType name="PopulationCriteriaDemographic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgeMaximum" type="xs:int" />
          <xs:element minOccurs="0" name="AgeMinimum" type="xs:int" />
          <xs:element minOccurs="0" name="EthnicityId" type="xs:long" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Enumerations" minOccurs="0" name="Gender" type="q2:Gender" />
          <xs:element minOccurs="0" name="PopulationId" type="xs:long" />
          <xs:element minOccurs="0" name="UseAgeCriteria" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PopulationCriteriaDemographic" nillable="true" type="tns:PopulationCriteriaDemographic" />
  <xs:complexType name="ArrayOfPopulationCriteriaEnrollment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PopulationCriteriaEnrollment" nillable="true" type="tns:PopulationCriteriaEnrollment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPopulationCriteriaEnrollment" nillable="true" type="tns:ArrayOfPopulationCriteriaEnrollment" />
  <xs:complexType name="PopulationCriteriaEnrollment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q3:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BenefitPlanId" type="xs:long" />
          <xs:element minOccurs="0" name="InsurerId" type="xs:long" />
          <xs:element minOccurs="0" name="PopulationId" type="xs:long" />
          <xs:element minOccurs="0" name="ProgramId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PopulationCriteriaEnrollment" nillable="true" type="tns:PopulationCriteriaEnrollment" />
  <xs:complexType name="ArrayOfPopulationCriteriaEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PopulationCriteriaEvent" nillable="true" type="tns:PopulationCriteriaEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPopulationCriteriaEvent" nillable="true" type="tns:ArrayOfPopulationCriteriaEvent" />
  <xs:complexType name="PopulationCriteriaEvent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q4:CoreObject">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mercury.Server.Core.Population.Enumerations" minOccurs="0" name="EventType" type="q5:PopulationCriteriaEventType" />
          <xs:element minOccurs="0" name="PopulationId" type="xs:long" />
          <xs:element minOccurs="0" name="ServiceId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PopulationCriteriaEvent" nillable="true" type="tns:PopulationCriteriaEvent" />
  <xs:complexType name="ArrayOfPopulationCriteriaGeographic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PopulationCriteriaGeographic" nillable="true" type="tns:PopulationCriteriaGeographic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPopulationCriteriaGeographic" nillable="true" type="tns:ArrayOfPopulationCriteriaGeographic" />
  <xs:complexType name="PopulationCriteriaGeographic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q6:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PopulationId" type="xs:long" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PopulationCriteriaGeographic" nillable="true" type="tns:PopulationCriteriaGeographic" />
</xs:schema>