Mercury.Clients/Mercury.Clients.Web/Mercury.Client/Service References/Server.Enterprise/Security321.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mercury.Server.Environment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Environment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" />
  <xs:import schemaLocation="http://localhost:10080/Enterprise/Security.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Mercury.Server.Data" />
  <xs:complexType name="EnvironmentType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q1:CoreConfigurationObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnvironmentType" nillable="true" type="tns:EnvironmentType" />
  <xs:complexType name="Environment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Mercury.Server.Core" base="q2:CoreObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfidentialityStatement" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EnvironmentTag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EnvironmentTypeId" type="xs:long" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mercury.Server.Data" minOccurs="0" name="SqlConfiguration" nillable="true" type="q3:SqlConfiguration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Environment" nillable="true" type="tns:Environment" />
</xs:schema>